


.titre-enfance {
    
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 90px;

}

.texte-enfance {
    padding-top: 100px;
    font-family: 'Averia Serif Libre', cursive;
    text-align: justify;
    font-size: 25px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 100px;
    border: 200px solid black;
    ;    
}

.alfred-enfant {
    float: left;
    padding: 20px;
    height: 300px;
    width: auto;
}