body {
    background-image: url(img/alfrederror.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;        
}
h1 {
    padding-top: 80px;
    font-size: 60px;

}